.loader{
	background: none repeat scroll 0 0 #000;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
	width: 100%;
	z-index: 9999;
}
.loader_inner{
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 160px;
	width: 160px;
	margin-top: -80px;
	margin-right: -80px;
	top: 50%;
	right: 50%;
	position: absolute;
}
